




default-lease-time 600;
max-lease-time 7200;
option domain-search "example.com";



default-lease-time {{lease_time}}
max-lease-time {{max_lease}}
option domain-name-servers {{domainserv1}}, {{domainserv2}};
option routers {{routers}}
option domain-search {{domainname}};

 
